{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'C:\Users\hp\OneDrive\Desktop\Food-Sharing-Platform\myproject\static\myapp\sign-log.css' %}">
    <style>
        .body {
          margin: 0;
          font-family: Arial, sans-serif;
          background: url("{% static 'C:\Users\hp\OneDrive\Desktop\Food-Sharing-Platform\myproject\static\myapp\images\background.jpg' %}") no-repeat center center fixed;
          background-size: cover;
          justify-content: center;
          color: #fff;
          height: 100vh;
          }
      </style>
</head>
<body class="body">
    <div class="card">
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>
            <button type="submit">Register</button>
        </form>
        <h5>Already have an account? </h5><a href="{% url 'login' %}">Login</a>
    </div>
    
</body>
</html>
